<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <om-menu-btn></om-menu-btn>
    </ion-buttons>
    <ion-title>Designer Spiaggia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #dragItems class="drag-items">
    <img [height]="imgSize" [width]="imgSize" src="assets/parasol.png" alt="" />
    <img [height]="imgSize" [width]="imgSize" src="assets/gazebo.png" alt="" />
    <img [height]="imgSize" [width]="imgSize" src="assets/parasol-hay.png" alt="" />
  </div>
  <div #container id="container"></div>
  <code>
    <pre>
      {{form|json}}
    </pre>
  </code>
</ion-content>
